<a href="https://colab.research.google.com/github/TranDangKhoi-20146356/AI/blob/main/AI_w3_17_2_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. CREATE A DATAFRAME

In [ ]:
# load library
import pandas as pd
# create dataframe
dataframe = pd.DataFrame()
# add columns
dataframe['Name'] = ['Lemon','Apple','Banana']
dataframe['Price'] = [5,8,7]
dataframe['License'] = [False,True, True]

# show data
dataframe

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [ ]:
dataframe.shape

(3, 3)

In [ ]:
df = dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   Price    3 non-null      int64
 2   License  3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 179.0+ bytes

In [ ]:
df.describe() # liet ke tat ca cac cot trong bang

          Price
count  3.000000
mean   6.666667
std    1.527525
min    5.000000
25%    6.000000
50%    7.000000
75%    7.500000
max    8.000000

In [ ]:
# loc iloc
df.loc[(df.Price == 5)]# tim vi tri co gia bang 5 loc(location)

    Name  Price  License
0  Lemon      5    False

In [ ]:
df.loc[(df.Price == 5)|(df.Name == 'Banana')]#tim vi tri cai co gia =5 va ten la banana

     Name  Price  License
0   Lemon      5    False
2  Banana      7     True

In [ ]:
df.loc[(df.Price == 5)| (df.Name == 'Banana'), ['Name','Price']]

     Name  Price
0   Lemon      5
2  Banana      7

In [ ]:
df.iloc[2]# dá»±a vao index de tim ra 
type(df.iloc[2])

pandas.core.frame.DataFrame

In [ ]:
df.iloc[[2]]

     Name  Price  License
2  Banana      7     True

In [ ]:
df.iloc[0:2]

    Name  Price  License
0  Lemon      5    False
1  Apple      8     True

In [ ]:
df.iloc[0:2,0:-1]

    Name  Price
0  Lemon      5
1  Apple      8

In [ ]:
df.iloc[0:2,-1]

0    False
1     True
Name: License, dtype: bool

In [ ]:
sum= df.Price.sum()# or df['Price'].sum() cÃ³ 2 cÃ¡ch viáº¿t
print(sum)

20

In [ ]:
# create row data
new = pd.Series(['Orange',10,True], index=['Name','Price','License'])
# append row ( thÃªm vÃ o má»t cÃ¡i hÃ ng)
dataframe.append(new, ignore_index=True)# phá»t lá» cÃ¡c danh má»¥c vd nhÆ° name, price, license

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True
3  Orange     10     True

In [ ]:
# append a column
dataframe['Location'] = ['USA','VN','SIN']
dataframe

     Name  Price  License Location
0   Lemon      5    False      USA
1   Apple      8     True       VN
2  Banana      7     True      SIN

In [ ]:
# delete a row
dataframe.drop(1, axis=0).head(10)# xÃ³a index 1, axis 1;0 lÃ  cá»t;hÃ ng, head(10): hiá»n thá» 10 dÃ²ng

     Name  Price  License Location
0   Lemon      5    False      USA
2  Banana      7     True      SIN

In [ ]:
# delete a column
dataframe.drop('Location', axis=1).head()#(cá»t cáº§n xÃ³a, axis=1(xÃ³a cá»t)).hiá»n thá» 5 dá»¯ liá»u

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [ ]:
# replace
dataframe['Price'].replace(5,7).head(5)

0    7
1    8
2    7
Name: Price, dtype: int64

In [ ]:
# rename columns
dataframe.rename(columns={'Price':'Cost'}).head()

     Name  Cost  License Location
0   Lemon     5    False      USA
1   Apple     8     True       VN
2  Banana     7     True      SIN

In [ ]:
#bÃ i táº­p

In [ ]:
#import thÆ° viá»n 
import pandas as pd
#create url
url = '/content/medals.csv'
#load data
dataframe = pd.read_csv(url)
#show data
dataframe.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [ ]:
#gÃ¡n biáº¿n cho dataframe
df=dataframe

In [ ]:
#kÃ­ch thÆ°á»c cá»§a báº£ng (2311 cá»t, 8 hÃ ng)
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2311 entries, 0 to 2310
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          2311 non-null   int64
 1   City          2311 non-null   object
 2   Sport         2311 non-null   object
 3   Discipline    2311 non-null   object
 4   NOC           2311 non-null   object
 5   Event         2311 non-null   object
 6   Event gender  2311 non-null   object
 7   Medal         2311 non-null   object
dtypes: int64(1), object(7)
memory usage: 144.6+ KB

In [ ]:
#thá»ng kÃª sÆ¡ vá» cÃ¡i báº£ng giÃ¡ trá» trung bÃ¬nh, min,max,...
df.describe()

              Year
count  2311.000000
mean   1980.361748
std      22.089091
min    1924.000000
25%    1968.000000
50%    1988.000000
75%    1998.000000
max    2006.000000

In [ ]:
df.iloc[0:10]# tÃ¬m dá»±a vÃ o index ( danh sÃ¡ch) ~[:10]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold

In [ ]:
df.loc[[20]] # tÃ¬m Äáº¿n giÃ¡ trá» 20

    Year      City    Sport Discipline  NOC    Event Event gender Medal
20  1924  Chamonix  Curling    Curling  GBR  curling            M  Gold

In [ ]:
df.iloc[[200]]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
200,1948,St. Moritz,Skiing,Nordic Combined,FIN,individual,M,Gold

In [ ]:
df = df.set_index(df['NOC'])#mÃ¬nh set index= noc
df.loc['GER']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
GER,1928,St. Moritz,Bobsleigh,Bobsleigh,GER,five-man,M,Bronze
GER,1932,Lake Placid,Bobsleigh,Bobsleigh,GER,four-man,M,Bronze
GER,1932,Lake Placid,Ice Hockey,Ice Hockey,GER,ice hockey,M,Bronze
GER,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,individual,M,Silver
GER,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,pairs,X,Gold
...,...,...,...,...,...,...,...,...
GER,2006,Turin,Skiing,Cross Country S,GER,sprint 1.5km,W,Silver
GER,2006,Turin,Skiing,Nordic Combined,GER,Individual,M,Gold
GER,2006,Turin,Skiing,Nordic Combined,GER,Individual sprint,M,Bronze
GER,2006,Turin,Skiing,Nordic Combined,GER,Team,M,Silver
GER,2006,Turin,Skiing,Snowboard,GER,Giant parallel slalom,W,Silver

In [ ]:
df.loc['USA']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
USA,1924,Chamonix,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
USA,1924,Chamonix,Skating,Figure skating,USA,individual,W,Silver
USA,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
USA,1924,Chamonix,Skiing,Ski Jumping,USA,K90 individual (70m),M,Bronze
USA,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Gold
...,...,...,...,...,...,...,...,...
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
df[df['NOC']=='CAN'].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
CAN,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
CAN,1928,St. Moritz,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
CAN,1932,Lake Placid,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
CAN,1932,Lake Placid,Skating,Figure skating,CAN,individual,M,Bronze
CAN,1932,Lake Placid,Skating,Speed skating,CAN,10000m,M,Bronze
CAN,1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Bronze
CAN,1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Silver
CAN,1932,Lake Placid,Skating,Speed skating,CAN,5000m,M,Bronze
CAN,1932,Lake Placid,Skating,Speed skating,CAN,500m,M,Bronze
CAN,1936,Garmisch-Partenkirchen,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Silver

In [ ]:
df[(df['Year']>=1990)&(df['Year']<=2006) & (df['NOC']=='USA')&(df['Event gender']=='W')&(df['Medal']=='Gold')].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
USA,1992,Albertville,Skating,Figure skating,USA,individual,W,Gold
USA,1992,Albertville,Skating,Short Track S.,USA,500m,W,Gold
USA,1992,Albertville,Skating,Speed skating,USA,1000m,W,Gold
USA,1992,Albertville,Skating,Speed skating,USA,500m,W,Gold
USA,1992,Albertville,Skiing,Freestyle Ski.,USA,moguls,W,Gold
USA,1994,Lillehammer,Skating,Short Track S.,USA,500m,W,Gold
USA,1994,Lillehammer,Skating,Speed skating,USA,1000m,W,Gold
USA,1994,Lillehammer,Skating,Speed skating,USA,500m,W,Gold
USA,1994,Lillehammer,Skiing,Alpine Skiing,USA,super-G,W,Gold
USA,1998,Nagano,Ice Hockey,Ice Hockey,USA,ice hockey,W,Gold

In [ ]:
data=df

In [ ]:
data[(data['Year']>=1990)&(data['Year']<=2006) & (data['NOC']=='USA')&(data['Event gender']=='W')&(data['Medal']=='Gold')].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
USA,1992,Albertville,Skating,Figure skating,USA,individual,W,Gold
USA,1992,Albertville,Skating,Short Track S.,USA,500m,W,Gold
USA,1992,Albertville,Skating,Speed skating,USA,1000m,W,Gold
USA,1992,Albertville,Skating,Speed skating,USA,500m,W,Gold
USA,1992,Albertville,Skiing,Freestyle Ski.,USA,moguls,W,Gold
USA,1994,Lillehammer,Skating,Short Track S.,USA,500m,W,Gold
USA,1994,Lillehammer,Skating,Speed skating,USA,1000m,W,Gold
USA,1994,Lillehammer,Skating,Speed skating,USA,500m,W,Gold
USA,1994,Lillehammer,Skiing,Alpine Skiing,USA,super-G,W,Gold
USA,1998,Nagano,Ice Hockey,Ice Hockey,USA,ice hockey,W,Gold

In [ ]:
data['NOC'].value_counts()# Äáº¿m giÃ¡ trá» xuáº¥t hiá»n bao nhiÃªu láº§n

NOR    280
USA    216
URS    194
AUT    185
GER    158
FIN    151
CAN    119
SUI    118
SWE    118
GDR    110
ITA    101
FRA     83
NED     78
RUS     76
FRG     41
CHN     33
JPN     32
KOR     31
TCH     25
EUN     23
GBR     21
EUA     19
CZE     10
LIE      9
POL      8
CRO      7
BUL      6
EST      6
AUS      6
BLR      6
HUN      6
UKR      5
BEL      5
KAZ      5
YUG      4
SLO      4
ESP      2
PRK      2
LUX      2
LAT      1
ROU      1
DEN      1
UZB      1
NZL      1
SVK      1
Name: NOC, dtype: int64

In [ ]:
data.count()

Year            2311
City            2311
Sport           2311
Discipline      2311
NOC             2311
Event           2311
Event gender    2311
Medal           2311
dtype: int64

In [ ]:
data['NOC'].unique()# tÃ¬m giÃ¡ trá» cÃ³ xuáº¥t hiá»n Ã­t nháº¥t 1 láº§n kiá»u dáº¡ng cÃ¡c nÆ°á»c nÃ o tham gia giáº£i trong cÃ¡c nÄm ÄÃ³

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [ ]:
data.drop('NOC', axis=1).head(10)

,Year,City,Sport,Discipline,Event,Event gender,Medal
NOC,,,,,,,
AUT,1924,Chamonix,Skating,Figure skating,individual,M,Silver
AUT,1924,Chamonix,Skating,Figure skating,individual,W,Gold
AUT,1924,Chamonix,Skating,Figure skating,pairs,X,Gold
BEL,1924,Chamonix,Bobsleigh,Bobsleigh,four-man,M,Bronze
CAN,1924,Chamonix,Ice Hockey,Ice Hockey,ice hockey,M,Gold
FIN,1924,Chamonix,Biathlon,Biathlon,military patrol,M,Silver
FIN,1924,Chamonix,Skating,Figure skating,pairs,X,Silver
FIN,1924,Chamonix,Skating,Speed skating,10000m,M,Gold
FIN,1924,Chamonix,Skating,Speed skating,10000m,M,Silver
FIN,1924,Chamonix,Skating,Speed skating,1500m,M,Gold

In [ ]:
data.drop(data.columns[2:4], axis=1).head(10)

     Year      City  NOC            Event Event gender   Medal
NOC
AUT  1924  Chamonix  AUT       individual            M  Silver
AUT  1924  Chamonix  AUT       individual            W    Gold
AUT  1924  Chamonix  AUT            pairs            X    Gold
BEL  1924  Chamonix  BEL         four-man            M  Bronze
CAN  1924  Chamonix  CAN       ice hockey            M    Gold
FIN  1924  Chamonix  FIN  military patrol            M  Silver
FIN  1924  Chamonix  FIN            pairs            X  Silver
FIN  1924  Chamonix  FIN           10000m            M    Gold
FIN  1924  Chamonix  FIN           10000m            M  Silver
FIN  1924  Chamonix  FIN            1500m            M    Gold

In [ ]:
data[data['NOC']!='CAN'].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
AUT,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
AUT,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
AUT,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
BEL,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
FIN,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
FIN,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
FIN,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
FIN,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
FIN,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
FIN,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold

In [ ]:
data = pd.read_csv(url)
data.groupby('NOC').head(10)#gom láº¡i cÃ¡c NOC theo báº£ng chá»¯ cÃ¡i

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2231,2006,Turin,Biathlon,Biathlon,POL,15km mass start,M,Silver
2232,2006,Turin,Skiing,Cross Country S,POL,30km,W,Bronze
2269,2006,Turin,Skiing,Snowboard,SVK,Snowboard Cross,M,Silver
2284,2006,Turin,Biathlon,Biathlon,UKR,7.5km,W,Bronze
2285,2006,Turin,Skating,Figure skating,UKR,ice dancing,X,Bronze

In [ ]:
data.groupby('NOC').count()

     Year  City  Sport  Discipline  Event  Event gender  Medal
NOC
AUS     6     6      6           6      6             6      6
AUT   185   185    185         185    185           185    185
BEL     5     5      5           5      5             5      5
BLR     6     6      6           6      6             6      6
BUL     6     6      6           6      6             6      6
CAN   119   119    119         119    119           119    119
CHN    33    33     33          33     33            33     33
CRO     7     7      7           7      7             7      7
CZE    10    10     10          10     10            10     10
DEN     1     1      1           1      1             1      1
ESP     2     2      2           2      2             2      2
EST     6     6      6           6      6             6      6
EUA    19    19     19          19     19            19     19
EUN    23    23     23          23     23            23     23
FIN   151   151    151         151    151           151    151
FRA    83    83     83          83     83            83     83
FRG    41    41     41          41     41            41     41
GBR    21    21     21          21     21            21     21
GDR   110   110    110         110    110           110    110
GER   158   158    158         158    158           158    158
HUN     6     6      6           6      6             6      6
ITA   101   101    101         101    101           101    101
JPN    32    32     32          32     32            32     32
KAZ     5     5      5           5      5             5      5
KOR    31    31     31          31     31            31     31
LAT     1     1      1           1      1             1      1
LIE     9     9      9           9      9             9      9
LUX     2     2      2           2      2             2      2
NED    78    78     78          78     78            78     78
NOR   280   280    280         280    280           280    280
NZL     1     1      1           1      1             1      1
POL     8     8      8           8      8             8      8
PRK     2     2      2           2      2             2      2
ROU     1     1      1           1      1             1      1
RUS    76    76     76          76     76            76     76
SLO     4     4      4           4      4             4      4
SUI   118   118    118         118    118           118    118
SVK     1     1      1           1      1             1      1
SWE   118   118    118         118    118           118    118
TCH    25    25     25          25     25            25     25
UKR     5     5      5           5      5             5      5
URS   194   194    194         194    194           194    194
USA   216   216    216         216    216           216    216
UZB     1     1      1           1      1             1      1
YUG     4     4      4           4      4             4      4

In [ ]:
data.groupby(['Year','NOC']).head()#gom láº¡i theo year, Noc theo group vÃ  xuáº¥t hiá»n 5 dÃ²ng Äáº§u

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2286,2006,Turin,Bobsleigh,Bobsleigh,USA,two-man,W,Silver
2287,2006,Turin,Curling,Curling,USA,curling,M,Bronze
2288,2006,Turin,Ice Hockey,Ice Hockey,USA,ice hockey,W,Bronze
2289,2006,Turin,Skating,Figure skating,USA,ice dancing,X,Silver
2290,2006,Turin,Skating,Figure skating,USA,individual,W,Silver

In [ ]:
data.groupby(['Year','NOC']).count()# gom láº¡i thÃ nh group vÃ  Äáº¿m xuáº¥t hiá»n bao nhiÃªu láº§n á» cÃ¡c cá»t

          City  Sport  Discipline  Event  Event gender  Medal
Year NOC
1924 AUT     3      3           3      3             3      3
     BEL     1      1           1      1             1      1
     CAN     1      1           1      1             1      1
     FIN    11     11          11     11            11     11
     FRA     3      3           3      3             3      3
...        ...    ...         ...    ...           ...    ...
2006 SUI    14     14          14     14            14     14
     SVK     1      1           1      1             1      1
     SWE    14     14          14     14            14     14
     UKR     2      2           2      2             2      2
     USA    25     25          25     25            25     25

[328 rows x 6 columns]

In [ ]:
# apply a function
def uppercase(x):
  return x.upper()
data['Event'].apply(uppercase)[0:2311]

0            INDIVIDUAL
1            INDIVIDUAL
2                 PAIRS
3              FOUR-MAN
4            ICE HOCKEY
             ...
2306          HALF-PIPE
2307          HALF-PIPE
2308          HALF-PIPE
2309    SNOWBOARD CROSS
2310    SNOWBOARD CROSS
Name: Event, Length: 2311, dtype: object

In [ ]:
df# hiá»n báº£ng trong file medas

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
AUT,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
AUT,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
AUT,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
BEL,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
CAN,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver